<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
  <title>APIs XYREZZ BOT</title>
</head>
<body>
  <!-- Navbar -->
  <nav>
    <div class="logo">
      <h1>Rerezz Official</h1>
    </div>
    <div class="menu">
      <a href="#home"><i class="fas fa-home">&nbsp;</i> Home</a>
      <a href="#update-info"><i class="fas fa-rotate">&nbsp;</i> Update Info</a>
      <a href="#apis"><i class="fas fa-database">&nbsp;</i> APIs</a>
      <a href="https://t.me/rerezz_official"><i class="fas fa-shop">&nbsp;</i> Buy Script</a>
      <a href="https://t.me/rerezz_official"><i class="fas fa-user">&nbsp;</i> Chat Owner</a>
      <a href="#"><i class="fas fa-robot">&nbsp;</i> Chat Bot</a>
    </div>
    <div class="hamburger" onclick="toggleMenu()">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </nav>

  <!-- Hero Section -->
  <div class="hero" id="home">
    <h1>WhatsApp <span>Chat BOT</span></h1>
    <p>Kurumi - MD Bot WhatsApp Dengan Fitur multi fungsi, Pairing Code Bot WhatsApp Gratis Multi Fungsi</p>
    <div class="buttons">
      <a href="https://t.me/rerezz_official">Chat Dev</a>
      <a href="not-available">Chat Bot</a>
    </div>
    <img src="https://pomf2.lain.la/f/xaef54l.png" alt="WhatsApp Illustration">
  </div>
  
  
  <section id="update-info">
        <h1 class="judul">&nbsp;<i class="fas fa-project-diagram">&nbsp;</i> Script Update</h1>
         <div class="project-container">
            <div class="project">
                <img src="https://files.catbox.moe/jbma4g.jpg" alt="KURUMI - MD V1 GEN 2">
              <p>Script Bot WhatsApp Kurumi - MD V1.0 GEN 2</p>
                <a href="https://example.com/project1" target="_blank">
                    Project 1
                </a>
            </div>
        </div>
    </section>
  <section>
    <h1 class="judul">&nbsp;<i class="fas fa-server">&nbsp;</i>APIS</h1>
    <div class="button-container">
        <!-- Left Button -->
        <a href="./api/motivasi.js" class="apis">
          <button class="btn">
            <i class="fas fa-server"></i> QUOTES GALAU
          </button>
        </a>
    
        <!-- Right Button -->
        <a href="../setting/setting.js" class="apis">
          <button class="btn">
            <i class="fas fa-server"></i> QUOTES BUCIN
          </button>
        </a>
      </div>
  </section>

  <!-- Footer -->
  <footer>
    &copy; 2024 KURUMI - MD | REREZZ OFFICIAL
  </footer>
  <script src='sc.js'
</body>
</html>
